<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Fathers House Spokane</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/img/cross-icon.jpg" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
        <!-- Adding Social Media CSS Here -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- DonorBox -->
        <!-- <script type="text/javascript" defer src="https://donorbox.org/install-popup-button.js"></script>
        <script>window.DonorBox = { widgetLinkClassName: 'custom-dbox-popup' }</script> -->
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">FATHERS HOUSE</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 align-items-center">
                        <li class="nav-item"><a class="nav-link" href="#about">ABOUT</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#portfolio">SERMONS</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="https://calendar.google.com/calendar/u/1?cid=ZmhzcG9rYW5lQGdtYWlsLmNvbQ">CALENDAR</a></li>
                        <li class="nav-item"><a class="nav-link" href="/#contact">CONTACT</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="/give.html">GIVE</a></li> -->
                        <!-- <li class="nav-item ps-1"><a class="custom-dbox-popup btn btn-primary btn-md" href="https://donorbox.org/general-donation-274">GIVE NOW</a></li> -->
                        <!-- <a class="btn btn-primary btn-md" href="/give.html">GIVE NOW</a> -->
                        <a class="btn btn-primary btn-md" href="https://donorbox.org/general-donation-274">GIVE NOW</a>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- About-->
        <section class="page-section bg-black" id="about">
            <!-- style="border-top: 1px solid white;" -->
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-9 text-center">
                        <h2 class="text-white mt-0">FATHERS HOUSE</h2>
                        <p class="text-white-75 mb-4">Sunday Gathering at 3:00 pm</p>
                        <!-- <h2 class="text-black mt-0">Join us, all are welcome!</h2> -->
                        <hr class="divider divider-light" />
                        <h5 class="text-white mt-0">Who We Are</h5>
                        <p class="text-white-75 mb-4">We are a community of Jesus followers that believe in the Word of God and the Power of the Holy Spirit. Our desire is to see every individual come into family and experience the Love and power of God.</p>
                        <hr class="divider divider-light" />
                        <h5 class="text-white mt-0">Mission Statement</h5>
                        <p class="text-white-75 mb-4">Fathers House Spokane is a place where people from all walks of like, denominations, cultures and people groups can receive the love of God and encounter His presence. Through the Word, Worship and finding community with the Family of God.</p>
                        <!-- <hr class="divider divider-light" /> -->
                        <!-- <p class="text-dark mb-4">Our Community...</p> -->
                        <!-- <a class="btn btn-light btn-xl" href="#contact">Learn More!</a> -->
                        <a href="#more"><i class="bi bi-arrow-down-circle fs-1 text-white"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section  bg-primary" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-secondary text-center mt-0">Our Core Values</h2>
                <!-- <hr class="divider bg-black" /> -->
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart-fill fs-1 text-secondary"></i></div>
                            <!-- <h3 class="text-white h4 mb-2">Love Jesus</h3> -->
                            <p class="text-secondary mb-0">We love the Lord and love people</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-person-lines-fill fs-1 text-secondary"></i></div>
                            <!-- <h3 class="text-white h4 mb-2">Love People</h3> -->
                            <p class="text-secondary mb-0">We believe in the authority of the written word of God</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-people-fill fs-1 text-secondary"></i></div>
                            <!-- <h3 class="text-white h4 mb-2">Freedom</h3> -->
                            <p class="text-secondary mb-0">We believe in building relationship and becoming family</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-house-fill fs-1 text-secondary"></i></div>
                            <!-- <h3 class="text-black h4 mb-2">Community</h3> -->
                            <p class="text-secondary mb-0">We gather corporately, publicly and in our homes</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <!-- <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Sermon</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Sermon</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Sermon</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Sermon</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Sermon</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.jpg" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Sermon</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- View all sermons-->
        <!-- <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">View All Sermons</h2>
                <a class="btn btn-light btn-xl" href="#give">See All</a>
            </div>
        </section> -->
        <section class="page-section bg-black" id="more">
            <!-- style="border-top: 1px solid white;" -->
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-9 text-center">
                        <!-- <h2 class="text-white mt-0">FATHERS HOUSE</h2> -->
                        <!-- <p class="text-white-75 mb-4">Sunday Gathering at 3:00 pm</p> -->
                        <!-- <h2 class="text-black mt-0">Join us, all are welcome!</h2> -->
                        <!-- <hr class="divider divider-light" /> -->
                        <h5 class="text-white mt-0">Your Invited</h5>
                        <p class="text-white-75 mb-4">We believe in “setting the table” of an atmosphere in which all can come to receive from the Lord. Whether you need to be refreshed, healed, restored or just need community we welcome you. We believe in not just having members, but coming into family. Church should look like family where you can be yourself, but also challenged and grow in the real you whom the Lord has created. We do not want going to church to be about a service but a gathering of the saints and them becoming family!</p>
                        <hr class="divider divider-light mt-5" />
                        <h5 class="text-white mt-5">Partner With Us</h5>
                        <p class="text-white-75 mb-4">Serving: We believe that if you are coming and joining guys for weekly gatherings you are now family! We don’t want be to serve out of obligation, but when you are family you bring your part, strengths, talents and abilities. Each one has something to being and that is the beauty of the Body of Christ. </p>
                        <hr class="divider divider-light mt-5" />
                        <h5 class="text-white mt-5">Generosity</h5>
                        <p class="text-white-75">The Gospel is free and we are so grateful for the goodness of His grace. As grateful people, it is our joy to practice Generosity of give ing time, resourced and finances. We our 501(c)3 that must take care of our commitments and responsibilities for our corporate gatherings and resources that are needed. We believe in working together in supporting the ministry and thank you for growing in this aspect as believers. We do not believe in giving in compulsion, but each individual to partner with the Lord and give as he leads and as needs come in. We are so grateful for all that each one has given and provided as a channel of Gods provision. That is the key, He is the Provider and he gives the “seed to the sower.”</p>
                        <!-- <hr class="divider divider-light" /> -->
                        <!-- <p class="text-dark mb-4">Our Community...</p> -->
                        <!-- <a class="btn btn-light btn-xl" href="#contact">Learn More!</a> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-black py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-white-75">Copyright &copy; 2022 - Fathers House Spokane</div></div>
            <!-- <div class="container px-4 px-lg-5"><div class="small text-center text-muted">5115 S Freya St, Spokane, WA 99223</div></div> -->
            <div class="socialbtns d-flex justify-content-center">
                <ul>
                <li><a href="#" class=""></a></li>
                <li><a href="#" class=""></a></li>
                <li><a href="https://www.instagram.com/fathershousespokane/" class="fa fa-lg fa-instagram"></a></li>
                <li><a href="https://www.youtube.com/@fhspokane" class="fa fa-lg fa-youtube"></a></li>
                </ul>
            </div>
            <!-- <div class="center">
                <div id="social-test">
                <ul class="social">
                    <li><a href="https://facebook.com/colorlib"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/fathershousespokane/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/c/Colorlib"><i class="fa fa-youtube" aria-hidden="true"></a></i></li>
                </ul>
                </div>
            </div> -->
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
