<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Fathers House Spokane Church is a community of Jesus followers that believe in the Word of God and the Power of the Holy Spirit. Our desire is to see every individual come into family and experience the Love and power of God"/>
        <meta name="author" content="Fathers House Spokane" />
        <title>Fathers House Spokane</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/img/cross-icon.jpg" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
        <!-- Adding Social Media CSS Here -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- DonorBox -->
        <!-- <script type="text/javascript" defer src="https://donorbox.org/install-popup-button.js"></script>
        <script>window.DonorBox = { widgetLinkClassName: 'custom-dbox-popup' }</script> -->
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">FATHERS HOUSE</a>
                <!-- <img src="static/img/fh_white.png" alt="Logo"> -->
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 align-items-center">
                        <li class="nav-item"><a class="nav-link" href="#about">ABOUT</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#portfolio">SERMONS</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="#calendar">CALENDAR</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">CONTACT</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="/give.html">GIVE</a></li> -->
                        <!-- <li class="nav-item ps-1"><a class="custom-dbox-popup btn btn-primary btn-md" href="https://donorbox.org/fhspokane">GIVE NOW</a></li> -->
                        <a class="btn btn-primary btn-md" href="https://donorbox.org/fhspokane">GIVE NOW</a>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <!-- <h1 class="text-white font-weight-bold">FATHERS HOUSE</h1>                 -->
                        <img class="logo" src="static/img/fh_white.png" alt="Logo">
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75">Spokane Valley, Washington</p>
                        <!-- class above had mb-5 -->
                        <!-- Social Media Here -->
                        <div class="socialbtns">
                            <ul>
                                    <!-- <li><a href="#" class="fa fa-lg fa-facebook"></a></li> -->
                                    <!-- <li><a href="#" class="fa fa-lg fa-google"></a></li> -->
                                    <li><a target="_blank" href="https://www.instagram.com/fathershousespokane/" class="fa fa-lg fa-instagram"></a></li>
                                    <li><a target="_blank" href="https://www.youtube.com/@fhspokane" class="fa fa-lg fa-youtube"></a></li>
                                    <li><a href="#soundcloud" class="fa fa-lg fa-play portfolio-box-caption"></a></li>
                            </ul>
                        </div>
                        <a class="btn btn-light btn-m" href="#location">New Location</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-black" id="about">
            <!-- style="border-top: 1px solid white;" -->
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-9 text-center">
                        <!-- <h2 class="text-white mt-0">FATHERS HOUSE</h2> -->
                        <h5 class="text-white mb-4">Sunday Gatherings at 3:00 pm</h5>
                        <h5 class="text-white mb-4">Prayer Nights moved to Thursday at 7:00 pm beginning 10/5/23</h5>
                        <!-- Thursday Prayer Nights at 7:00 pm -->
                        <!-- <h2 class="text-black mt-0">Join us, all are welcome!</h2> -->
                        <hr class="divider divider-light" />
                        <h5 class="text-white mt-0">Who We Are</h5>
                        <p class="text-white-75 mb-4">We are a community of Jesus followers who believe in the Word of God and the power of the Holy Spirit. Our desire is to see every individual come into family and experience the love and power of God.</p>
                        <hr class="divider divider-light" />
                        <h5 class="text-white mt-0">Mission Statement</h5>
                        <p class="text-white-75 mb-4">Fathers House Spokane is a place where people from all walks of life, denominations, cultures, and people groups can receive the love of God and encounter His presence through the Word, worship, and by connecting with the family of God.</p>
                        <!-- <hr class="divider divider-light" /> -->
                        <!-- <p class="text-dark mb-4">Our Community...</p> -->
                        <a class="btn btn-light btn-xl" href="/about">Learn More!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section  bg-primary" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-secondary text-center mt-0">Our Core Values</h2>
                <!-- <hr class="divider bg-black" /> -->
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart-fill fs-1 text-secondary"></i></div>
                            <p class="text-secondary mb-0">We love the Lord and love people</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-person-lines-fill fs-1 text-secondary"></i></div>
                            <p class="text-secondary mb-0">We believe in the authority of the written word of God</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-people-fill fs-1 text-secondary"></i></div>
                            <p class="text-secondary mb-0">We believe in building relationship and becoming family</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-house-fill fs-1 text-secondary"></i></div>
                            <p class="text-secondary mb-0">We gather corporately, publicly and in our homes</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <!-- <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Sermon</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Sermon</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Sermon</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Sermon</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Sermon</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.jpg" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Sermon</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- View all sermons-->
        <!-- <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">View All Sermons</h2>
                <a class="btn btn-light btn-xl" href="#give">See All</a>
            </div>
        </section> -->
        <!-- Call to action-->
        <section class="page-section bg-secondary text-white" id="location">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4 text-primary">Visit our new location</h2>
                <p class="text-primary mb-4">1222 S McDonald Rd, Spokane Valley, WA 99216</p>
                <div class="text-center mb-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d503.4367530557507!2d-117.23005209817873!3d47.644988721069495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549e208aadc723d5%3A0x72902c01a4fe9200!2s1222%20S%20McDonald%20Rd%2C%20Spokane%20Valley%2C%20WA%2099216!5e0!3m2!1sen!2sus!4v1695830017847!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <a class="custom-dbox-popup btn btn-primary btn-xl" target="_blank" href="https://maps.app.goo.gl/D7zkgrxVgGv56izd8">Open Maps</a>
            </div>
        </section>
        <section class="page-section bg-primary text-black">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4 text-secondary">Watch the Latest Sermon</h2>
                <div class="videoWrapper">
                    <iframe class="sermon_video" width="768" height="432" allowfullscreen src="https://www.youtube.com/embed?listType=playlist&list=UU2gGeabvdHXcqWmHY9or_6g"></iframe>
                </div>
            </div>
        </section>
        <section class="page-section bg-black text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4 text-white">How can I help?</h2>
                <!-- <a class="custom-dbox-popup btn btn-light btn-xl" href="https://donorbox.org/fhspokane">GIVE NOW</a> -->
                <a class="btn btn-light btn-xl" href="https://donorbox.org/fhspokane">Give Now</a>
            </div>
        </section>
        <!-- More-->
        <section class="page-section bg-primary text-white" id="calendar">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="text-secondary mb-4">Upcoming Events</h2>
                <a class="btn btn-secondary btn-xl" target="_blank" href="https://calendar.google.com/calendar/u/1?cid=ZmhzcG9rYW5lQGdtYWlsLmNvbQ">Calendar</a>
            </div>
        </section>
        <!-- Sound Cloud Embed -->
        <section id="soundcloud" class="page-section bg-secondary text-black">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4 text-primary">Soaking in His Presence</h2>
                <!-- <a class="btn btn-light btn-xl" href="#give">See All</a> -->
                <iframe class="audio_player" width="100%" height="350" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/860533523&color=%2369747e&auto_play=true&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/williamaugusto" title="William Augusto" target="_blank" style="color: #cccccc; text-decoration: none;">William Augusto</a> · <a href="https://soundcloud.com/williamaugusto/sets/soaking-in-his-presence-vol-3" title="Soaking in His Presence, Vol. 3" target="_blank" style="color: #cccccc; text-decoration: none;">Soaking in His Presence, Vol. 3</a></div>
                <!-- allow="autoplay"  -->
            </div>
            <!-- <img id="play" src="play.png" alt="Play"> -->
        </section>
        <!-- Contact-->
        <section class="page-section bg-primary" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="text-secondary mt-0">We would love to hear from you!</h2>
                        <!-- <hr class="divider bg-dark" /> -->
                        <p class="text-secondary mb-5 pt-2">If you would like any further information or have any prayer requests, please send us a message.</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="e8b80077-0d4e-433b-bcd2-a6b3bae04baf">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Full name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Phone number</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    <!-- To activate this form, sign up at -->
                                    <!-- <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a> -->
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-secondary btn-xl disabled" id="submitButton" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
                <!-- <div class="row gx-4 gx-lg-5 justify-content-center mb-4">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-dark"></i>
                        <div class="small text-center text-white-75">+1 (509) 352-5220</div>
                    </div>
                </div> -->
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-black py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-white-75">Copyright &copy; 2023 Fathers House Spokane</div></div>
            <div class="container px-4 px-lg-5"><div class="small text-center text-white-75 mt-2">1222 S McDonald Rd, Spokane Valley, WA 99216</div></div>
            <div class="container px-4 px-lg-5"><div class="small text-center text-white-75 mt-2">509-352-5220</div></div>
            <!-- <div class="container px-4 px-lg-5"><div class="small text-center text-muted">5115 S Freya St, Spokane, WA 99223</div></div> -->
            <div class="socialbtns d-flex justify-content-center">
                <ul>
                <!-- <li><a href="#" class="fa fa-lg fa-facebook"></a></li> -->
                <li><a href="#" class=""></a></li> 
                <li><a href="#" class=""></a></li> 
                <li><a target="_blank" href="https://www.instagram.com/fathershousespokane/" class="fa fa-lg fa-instagram"></a></li>
                <li><a target="_blank" href="https://www.youtube.com/@fhspokane" class="fa fa-lg fa-youtube"></a></li>
                </ul>
            </div>
            <!-- <div class="center">
                <div id="social-test">
                <ul class="social">
                    <li><a href="https://facebook.com/colorlib"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/fathershousespokane/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/c/Colorlib"><i class="fa fa-youtube" aria-hidden="true"></a></i></li>
                </ul>
                </div>
            </div> -->
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
